:root {
  --white: #ffffff;
  --darkBlue: #3c456b;
  --ltBlue: #5163ac;  
}

html, body {
  background-color:white;
  height: 100%;
}

.text-block {
  max-width: 70%;
  margin: 0 auto;
}

.main-content-wrapper {
  background-color: var(--darkBlue);
  height: 100vh;
}

.item-img {
  width: 100%;
  margin: 0 auto;
}


#ror-logo {
  width: 40%;
}

.text-block {
  color: var(--darkBlue);
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.home-text {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #ror-logo {
    width: 75%;
  }
}







